.wrapper {
    display: flex;
    flex-direction: column; //Quay theo chiều dọc
    align-items: center;
}

.container {
    width: var(--default-layout-width);
    max-width: 100%;
    margin-top: var(--default-layout-header-height);
    padding: 0 var(--default-layout-horizontal-spacer);
    display: flex;
}

.content {
    flex: 1; // lấy phần còn lại của display
}
