.wrapper {
    margin-left: 5px;

    .type {
        padding: 10px 0;
        display: flex;
        box-sizing: content-box;
        overflow-x: auto;
        white-space: nowrap;
        width: calc((100vw - 356x) - 203px);
        min-width: unset !important;

        button {
            border: 1px solid black;
            margin-right: 8px;
            background-color: rgba(22, 24, 35, 0.06);

            &:hover {
                background-color: black;
                color: white;
            }
        }
    }

    .cart-video {
        display: flex;
        justify-content: flex-start;
        gap: 13px;
        flex-wrap: wrap;
        width: 100%;
        height: fit-content;
    }
}
